---
import Layout from '../layouts/Layout.astro';

const films = [
  {
    title: "2001: A Space Odyssey",
    director: "Stanley Kubrick",
    year: 1968,
    poster: "https://i.pinimg.com/736x/41/32/eb/4132ebe88b07c507ca5b0472ddd93054.jpg",
    // slug: "2001-space-odyssey"
  },
  {
    title: "The Social Network",
    director: "David Fincher",
    year: 2010,
    poster: "https://i.pinimg.com/736x/f6/88/6b/f6886bccfd42d317acb3c81916d527b9.jpg",
    // slug: "the-social-network"
  },
  {
    title: "Zodiac",
    director: "David Fincher",
    year: 2007,
    poster: "https://i.pinimg.com/736x/25/34/bc/2534bc49cc5e07aa3c9b809befe061c6.jpg",
    // slug: "zodiac"
  },
  {
    title: "Whiplash",
    director: "Damien Chazelle",
    year: 2014,
    poster: "https://i.pinimg.com/736x/d5/3d/cf/d53dcfe9d6a3d7247679a2460820273a.jpg",
    // slug: "whiplash"
  },
  {
    title: "Se7en",
    director: "David Fincher",
    year: 1995,
    poster: "https://i.pinimg.com/736x/b6/2d/c2/b62dc21077b4da540210c6f35fdee65f.jpg",
    // slug: "seven"
  },
  {
    title: "Stalker",
    director: "Andrei Tarkovsky",
    year: 1979,
    poster: "https://i.pinimg.com/736x/04/ad/66/04ad66f6ea5542bcd603945299fc3a63.jpg",
    // slug: "stalker"
  },
  {
    title: "Blade Runner",
    director: "Ridley Scott",
    year: 1982,
    poster: "https://i.pinimg.com/736x/ca/7e/cc/ca7ecc6ee772d74e58ebea9871d8ee1a.jpg",
    // slug: "blade-runner"
  },
  {
    title: "Blade runner 2049",
    director: "Denis Villeneuve",
    year: 2017,
    poster: "https://i.pinimg.com/736x/31/33/96/3133969b90e40ed2172c33e4b4660201.jpg",
    // slug: "blade-runner-2049"
  },
  {
    title: "A Bronx Tale",
    director: "Robert De Niro",
    year: 1993,
    poster: "https://i.pinimg.com/736x/de/a3/65/dea3650693d778a6e2d16428f51db6fa.jpg",
    // slug: "bronx-tale"
  },
  {
    title: "The Silence of the Lambs",
    director: "Jonathan Demme",
    year: 1991,
    poster: "https://i.pinimg.com/736x/94/70/9a/94709a9641f252d8410c7b32cdb051f7.jpg",
    // slug: "the-silence-of-the-lambs"
  },
  {
    title: "The Shining",
    director: "Stanley Kubrick",
    year: 1980,
    poster: "https://i.pinimg.com/736x/d7/17/64/d7176497dc38882f98ea54a002b563f0.jpg",
    // slug: "the-shining"
  },
  {
    title: "Her",
    director: "Spike Jonze",
    year: 2013,
    poster: "https://i.pinimg.com/736x/e5/cb/6a/e5cb6a8b2c315e5d4d0439d190eed94d.jpg",
    // slug: "her"
  },
  {
    title: "Arrival",
    director: "Denis Villeneuve",
    year: 2016,
    poster: "https://i.pinimg.com/736x/a5/7e/0b/a57e0b06b9acfe0fa8c7250b7ef97efe.jpg",
    // slug: "arrival"
  },
  {
    title: "No Country for Old Men",
    director: "Coel Brothers",
    year: 2007,
    poster: "https://i.pinimg.com/736x/f3/cb/2c/f3cb2ca06a37e1ec06fa5e18d4395811.jpg",
    // slug: "no-country-for-old-men"
  },
  {
    title: "There Will Be Blood",
    director: "Paul Thomas Anderson",
    year: 2007,
    poster: "https://i.pinimg.com/736x/7d/4b/e4/7d4be44178cb2a5793b1a24ef0d066ae.jpg",
    // slug: "there-will-be-blood"
  },
  {
    title: "The Martian",
    director: "Ridley Scott",
    year: 2015,
    poster: "https://i.pinimg.com/736x/e0/49/8e/e0498e92d6537df6433f2190469f0605.jpg",
    // slug: "the-martian"
  },
  {
    title: "Nightcrawler",
    director: "Dan Gilroy",
    year: 2014,
    poster: "https://i.pinimg.com/736x/70/bd/2e/70bd2edb3882dba4b7a91843434298e2.jpg",
    // slug: "nightcrawler"
  },
  {
    title: "Interstellar",
    director: "Christopher Nolan",
    year: 2014,
    poster: "https://i.pinimg.com/736x/3f/5b/79/3f5b79001256744aee73887e33355876.jpg",
    // slug: "intersstellar"
  },
  {
    title: "Reservoir Dogs",
    director: "Quentin Tarantino",
    year: 1992,
    poster: "https://i.pinimg.com/736x/63/47/51/63475167fabff503b78e67afcb12450e.jpg",
    // slug: "reservoir-dogs"
  },
  {
    title: "War Dogs",
    director: "Todd Phillips",
    year: 2016,
    poster: "https://i.pinimg.com/736x/d3/68/1f/d3681f57b537f40b1cb1e1866a2d792f.jpg",
    // slug: "war-dogs"
  },
  {
    title: "Lord of War",
    director: "Andrew Niccol",
    year: 2005,
    poster: "https://i.pinimg.com/736x/46/3b/6f/463b6fbba9bf50e844de8fee62d02534.jpg",
    // slug: "lord-or-war"
  },
  {
    title: "Inglourious Bastards",
    director: "Quentin Tarantino",
    year: 2009,
    poster: "https://i.pinimg.com/736x/eb/f2/e0/ebf2e0ddd366fc82d96f99ecce87df9b.jpg",
    // slug: "inglouriour-basterds"
  },
  {
    title: "Oppenheimer",
    director: "Christopher Nolan",
    year: 2023,
    poster: "https://i.pinimg.com/736x/e9/18/4c/e9184c42662e6050c4cf1c3a9f56411e.jpg",
    // slug: "oppenheimer"
  },
  {
    title: "The Brutalist",
    director: "Brady Corbet",
    year: 2024,
    poster: "https://i.pinimg.com/736x/34/ff/f5/34fff596c3b8e5b7e4ac7aba94950795.jpg",
    // slug: "the-brutalist"
  },
  {
    title: "The Lighthouse",
    director: "Robert Eggers",
    year: 2019,
    poster: "https://i.pinimg.com/736x/5b/6d/67/5b6d67f160c4f1b6deaddb3ba2226736.jpg",
    // slug: "the-lighthouse"
  },
  {
    title: "The Sixth Sense",
    director: "M. Night Shyamalan",
    year: 1999,
    poster: "https://i.pinimg.com/736x/83/16/58/83165860202c60444c669053433fd97a.jpg",
    // slug: "the-sixth-sense"
  },
  {
    title: "Dune Part 1",
    director: "Denis Villeneuve",
    year: 2021,
    poster: "https://i.pinimg.com/736x/0d/a2/e0/0da2e0531ef867059cf3123a2198255b.jpg",
    // slug: "dune-part-1"
  },
  {
    title: "Dune Part 2",
    director: "Denis Villeneuve",
    year: 2024,
    poster: "https://i.pinimg.com/736x/35/b4/05/35b405207fad183675928c52191be6f2.jpg",
    // slug: "dune-part-2"
  },
  {
    title: "The Big Short",
    director: "Adam Mckay",
    year: 2015,
    poster: "https://i.pinimg.com/736x/da/40/41/da4041eaeae53f52c95912bb4c4ae3f8.jpg",
    // slug: "the-big-short",
  },
  {
    title: "Incendies",
    director: "Denis Villeneuve",
    year: 2010,
    poster: "https://i.pinimg.com/736x/e4/be/cf/e4becfdc27d8eec8390324cce997c494.jpg",
    // slug: "incendies"
  },
  {
    title: "A Clockwork Orange",
    director: "Stanley Kubrick",
    year: 1971,
    poster: "https://i.pinimg.com/736x/92/26/d0/9226d0446bcabe0ec9a28f20b17c849a.jpg",
    // slug: "a-clockwork-orange"
  },
  {
    title: "Eyes Wide Shut",
    director: "Stanley Kubrick",
    year: 1999,
    poster: "https://i.pinimg.com/736x/cc/61/16/cc611656ee8d8ba30102e9dca420d015.jpg",
    // slug: "eyes-wide-shut"
  },
  {
    title: "Blue Velvet",
    director: "David Lynch",
    year: 1986,
    poster: "https://i.pinimg.com/736x/41/aa/2a/41aa2affae49c81ecc9781c8e9039454.jpg",
    // slug: "blue-velvet"
  },
  {
    title: "The Godfather",
    director: "Francis Ford Copola",
    year: 1972,
    poster: "https://i.pinimg.com/736x/6b/be/17/6bbe17d3c77cb331af35c165e503b5ac.jpg",
    // slug: "the-godfather"
  },
  {
    title: "Scarface",
    director: "Brian de Palma",
    year: 1983,
    poster: "https://i.pinimg.com/736x/98/d2/9d/98d29d3b4ba58074c0698031418fbf2e.jpg",
    // slug: "scarface"
  },
  {
    title: "Shutter Island",
    director: "Martin Scorsese",
    year: 2010,
    poster: "https://i.pinimg.com/736x/d7/31/a8/d731a87554633e47af58744ad38c9fe7.jpg",
    // slug: "shutter-island"
  },
  {
    title: "The Usual Suspects",
    director: "Bryan Singer",
    year: 1995,
    poster: "https://i.pinimg.com/736x/6c/24/6f/6c246f7c5516ad55cf7cd5ccdf1bb6e1.jpg",
    // slug: "the-usual-suspects"
  },
  {
    title: "Napoleon",
    director: "Ridely Scott",
    year: 2023,
    poster: "https://i.pinimg.com/736x/34/8b/84/348b84b9cd3e77df3773942a59bd45e9.jpg",
    // slug: "napolean"
  },
  {
    title: "Kingdom of Heaven",
    director: "Ridely Scott",
    year: 2005,
    poster: "https://i.pinimg.com/736x/5e/7b/c3/5e7bc33f613f437afda2956cc38a9f8a.jpg",
    // slug: "kingdom-of-heaven"
  },
  {
    title: "American Psycho",
    director: "Mary Harron",
    year: 2000,
    poster: "https://i.pinimg.com/736x/1a/ca/8c/1aca8cd52394a73c4016c6229ebc5989.jpg",
    // slug: "american-psycho"
  },
  {
    title: "The Elephant Man",
    director: "David Lynch",
    year: 1980,
    poster: "https://i.pinimg.com/736x/be/1f/eb/be1feba79201aefaa1122a3eddf5c901.jpg",
    // slug: "the-elephant-man"
  },
  {
    title: "La La Land",
    director: "Damien Chazelle",
    year: 2016,
    poster: "https://i.pinimg.com/736x/eb/b1/e7/ebb1e7626eae0cd6b0fe491f520c1cac.jpg",
    // slug: "la-la-land"
  },
  {
    title: "(500)Days of Summer",
    director: "Marc Webb",
    year: 2009,
    poster: "https://i.pinimg.com/736x/fd/24/61/fd2461d639ad72d075441a0d2c40d2fb.jpg",
    // slug: "days-of-summer"
  },
  {
    title: "Nocturnal Animal",
    director: "Tom Ford",
    year: 2016,
    poster: "https://i.pinimg.com/736x/41/78/67/417867328e4bd6c68aaaf28c773ce29f.jpg",
    // slug: "nocturnal-animal"
  },
  {
    title: "The Pianist",
    director: "Roman Polanski",
    year: 2002,
    poster: "https://i.pinimg.com/736x/96/f0/d2/96f0d2d2bbc7a819636dec93538b8873.jpg",
    // slug: "the-pianist"
  },
  {
    title: "Ford V Ferrai",
    director: "James Mangold",
    year: 2019,
    poster: "https://i.pinimg.com/736x/f1/32/3c/f1323c39692fe54d35219676b9b92a80.jpg",
    // slug: "ford-ferrari",
  },
  {
    title: "Predestination",
    director: "Michael Spierig, Peter Spierig",
    year: 2014,
    poster: "https://i.pinimg.com/736x/7c/06/70/7c06700a88b66ddf273e7dd588deb713.jpg",
    // slug: "predestination"
  },
  {
    title: "Dead Poet Society",
    director: "Peter Weir",
    year: 1985,
    poster: "https://i.pinimg.com/736x/1f/01/4e/1f014ef62a630dd0e45636134b06398e.jpg",
    // slug: "dead-poet-society"
  },
  {
    title: "Good Will Hunting",
    director: "Gus Van Sant",
    year: 1997,
    poster: "https://i.pinimg.com/736x/3e/b5/d0/3eb5d0ad1328febe8bcacf6abb15c8d2.jpg",
    // slug: "good-will-hunting"
  },
  {
    title: "Hacksaw Ridge",
    director: "Mel Gibson",
    year: 2016,
    poster: "https://i.pinimg.com/736x/9f/d4/df/9fd4dfa82903cfb4e6f75d7e38aed658.jpg",
    // slug: "hacksaw-ridge"
  },
  {
    title: "All Quiet on Western Front",
    director: "Edward Berger",
    year: 2022,
    poster: "https://i.pinimg.com/736x/f9/5f/a8/f95fa897a64c4737458e50f4898483c0.jpg",
    // slug: "all-quiet-on-western-front"
  },
  {
    title: "The Grave of the Fireflies",
    director: "Isao Takahata",
    year: 1988,
    poster: "https://i.pinimg.com/736x/ba/3c/6d/ba3c6dfdb28bf229865fa9e6c8016e7f.jpg",
    // slug: "the-grave-of-the-fireflies"
  },
  {
    title: "Once Upon a Time in Hollywood",
    director: "Quentin Tarantino",
    year: 2019,
    poster: "https://i.pinimg.com/736x/00/bc/06/00bc063b10560acf4fb1bdc957632c8c.jpg",
    // slug: "once-upon-a-time-in-hollywood"
  },
  {
    title: "F**** C***",
    director: "David Fincher",
    year: 1998,
    poster: "https://i.pinimg.com/736x/ce/40/f2/ce40f2a040a6afc5d26cbc35ffff0995.jpg",
    // slug: "fight-club"
  },
  {
    title: "The Lunchbox",
    director: "Ritesh Batra",
    year: 2013,
    poster: "https://i.pinimg.com/736x/aa/34/f7/aa34f76bf60aa425d01af03615b9a13c.jpg",
    // slug: "the-lunchbox"
  },
  {
    title: "The Witch",
    director: "Robert Eggers",
    year: 2016,
    poster: "https://i.pinimg.com/736x/cb/9e/50/cb9e50f0e28364ba59abb32ace1abd95.jpg",
    // slug: "the-witch"
  },
  {
    title: "The Blair Witch Project",
    director: "Adam Wingard",
    year: 2016,
    poster: "https://i.pinimg.com/736x/37/24/14/372414f203e47c415471b3993052adc1.jpg",
    // slug: "the-blair-witch-project"
  },
  {
    title: "Gladiator",
    director: "Ridley Scott",
    year: 2000,
    poster: "https://i.pinimg.com/736x/d0/a1/6b/d0a16ba571d1d06fe60b38af8f7fd5e3.jpg",
    // slug: "gladiator"
  },
  {
    title: "300",
    director: "Zack Snyder",
    year: 2006,
    poster: "https://i.pinimg.com/736x/be/5c/e0/be5ce021883ce28feda4fdd1740c1b0f.jpg",
    // slug: "300"
  },
  {
    title: "The Hunt",
    director: "Thomas Vinterberg",
    year: 2012,
    poster: "https://i.pinimg.com/736x/fb/34/b7/fb34b795c35b10e3896e973c9007f1ad.jpg",
    // slug: "the-hunt"
  },
  {
    title: "The Green Book",
    director: "Peter Farrelly",
    year: 2018,
    poster: "https://i.pinimg.com/736x/0e/1e/60/0e1e60f03c565b33d42413d1a79127c3.jpg",
    // slug: "the-green-book"
  },
  {
    title: "The Conjuring",
    director: "James Wan",
    year: 2013,
    poster: "https://i.pinimg.com/736x/8e/1a/a0/8e1aa0ff290a3f9fecdb85aa2c31c55a.jpg",
    // slug: "the-conjuring"
  },
  {
    title: "Annabelle: Creation",
    director: "David F. Sandberg",
    year: 2017,
    poster: "https://i.pinimg.com/736x/53/59/c5/5359c5b8d251008b895535e076d9560f.jpg",
    // slug: "annabelle-creation"
  },
  {
    title: "The Exorcist",
    director: "William Friedkin",
    year: 1973,
    poster: "https://i.pinimg.com/736x/3b/6b/7b/3b6b7b371b57cc34dfa84102811ead24.jpg",
    // slug: "the-exorcist"
  },
  {
    title: "The Imitation Game",
    director: "Morten Tyldum",
    year: 2014,
    poster: "https://i.pinimg.com/736x/25/43/c6/2543c621aeae2f2b0708f9680f8bc289.jpg",
    // slug: "the-imitation-game"
  },
  {
    title: "The Babadook",
    director: "Jennifer Kent",
    year: 2014,
    poster: "https://i.pinimg.com/736x/7b/6e/d1/7b6ed19fb07609711641b18444316d46.jpg",
    // slug: "the-babadook"
  },
  {
    title: "Gravity",
    director: "Alfonso Cuarón",
    year: 2013,
    poster: "https://i.pinimg.com/736x/d6/46/57/d6465752823230c249786b4c9f28e2ab.jpg",
    // slug: "gravity"
  },
  {
    title: "Vertigo",
    director: "Alferd Hitchcock",
    year: 1968,
    poster: "https://i.pinimg.com/736x/d3/5d/36/d35d364c250d670546c4cecb2df4c616.jpg",
    // slug: "vertigo"
  },
  {
    title: "Pyscho",
    director: "Alferd Hitchcock",
    year: 1960,
    poster: "https://i.pinimg.com/736x/fc/9e/d0/fc9ed0c7102a88745d2dd51947732fc4.jpg",
    // slug: "pyscho"
  },
  {
    title: "The Wolf of Wall Street",
    director: "Martin Scorsese",
    year: 2013,
    poster: "https://i.pinimg.com/736x/bc/10/b8/bc10b8fe35bbaafecca79e7eb65a99b0.jpg",
    // slug: "wolf-of-wall-street"
  },
  {
    title: "Catch Me If You Can",
    director: "Steven Spielberg",
    year: 2002,
    poster: "https://i.pinimg.com/736x/a0/cd/52/a0cd52316d7af3b9068a0f1a65271968.jpg",
    // slug: "catch-me-if-you-can"
  },
  {
    title: "Detachment",
    director: "Tony kanye",
    year: 2011,
    poster: "https://i.pinimg.com/736x/36/0e/65/360e657cb09b9457263794ffd0cbd364.jpg",
    // slug: "detachment"
  },
  {
    title: "Prisoners",
    director: "Denis Villeneuve",
    year: 2013,
    poster: "https://i.pinimg.com/736x/6d/d9/38/6dd9385620437d27c9d049f35a691b4c.jpg",
    // slug: "prisoners"
  },
  {
    title: "28 Days Later",
    director: "Danny Boyle",
    year: 2002,
    poster: "https://i.pinimg.com/736x/20/de/a7/20dea760ea2679f81448b2c8a95334dd.jpg",
    // slug: "28-days-later"
  },
  {
    title: "Rush",
    director: "Ron Howard",
    year: 2013,
    poster: "https://i.pinimg.com/736x/ed/ff/1c/edff1c01452c0b24cda2cd5d68510d3b.jpg",
    // slug: "rush"
  },
  {
    title: "Children of Men",
    director: "Alfonso Cuarón",
    year: 2006,
    poster: "https://i.pinimg.com/736x/56/34/97/563497bea6803fb352ef754eac218393.jpg",
    // slug: "children-of-men"
  },
  {
    title: "Ek Doctor Ki Maut",
    director: "Tapan Sinha",
    year: 1990,
    poster: "https://upload.wikimedia.org/wikipedia/en/5/52/Ek_Doctor_Ki_Maut.jpg",
    // slug: "doctor-ki-maut"
  },
];
---

<Layout title="Cinema - vivek singh">
  <section class="section cinema">
    <div class="container">
      <h1>Cinema</h1>
      <p class="intro">
        Cinema is the ultimate pleasure for those who really understand it.
      </p>
      
      <div class="films-grid">
        {films.map((film) => (
          <div class="film-card">
            <div class="film-poster">
              <img src={film.poster} alt={`${film.title} poster`} />
            </div>
            <div class="film-details">
              <h3>{film.title}</h3>
              <p class="film-meta">{film.director}, {film.year}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </section>
</Layout>

<style>
  .cinema h1 {
    margin-bottom: var(--space-md);
  }

  .intro {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: var(--space-lg);
  }

  .films-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--space-md);
  }

  .film-card {
    color: var(--color-text);
    text-decoration: none;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--color-card-bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  .film-card:hover {
    transform: translateY(-8px);
    text-decoration: none;
  }

  .film-poster {
    position: relative;
    padding-top: 150%; /* 2:3 aspect ratio */
    overflow: hidden;
  }

  .film-poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .film-card:hover .film-poster img {
    transform: scale(1.05);
  }

  .film-details {
    padding: var(--space-sm);
  }

  .film-details h3 {
    margin-bottom: var(--space-xs);
    font-size: 1.2rem;
  }

  .film-meta {
    color: var(--color-text-light);
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    .films-grid {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .film-details h3 {
      font-size: 1rem;
    }
  }
</style>
